.hero {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
  padding: 4rem 2rem;
  align-items: center;
  justify-content: flex-end;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  min-height: 600px;
  position: relative;
}

.hero-content {
  max-width: 600px;
  color: #F7F2ED;
  font-family: "Playfair Display", serif;
  position: relative;
  z-index: 2;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.hero-logo img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  object-position: center;
  padding: 15px;
  box-sizing: border-box;
  background: #E9DCCF;
}

.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align:left;
  -webkit-text-stroke: 1px #5A463A;
  paint-order: stroke;
}

.hero-body {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #F7F2ED;
  -webkit-text-stroke: 1px #5A463A;
  paint-order: stroke;
}

.hero-body.small {
  font-size: 1.1rem;
  opacity: 0.9;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 1rem auto 0 auto;
  padding: 0.8rem 2rem;
  background-color: #E9DCCF;
  color: #5A463A;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid #DFCBB9;
  font-size: 1.1rem;
  transition: 0.2s ease;

}

.hero-button:hover {
  background-color: #e9dccfdb;
  border-color: transparent;
}

@media (max-width: 900px) {
  .hero {
    padding: 3rem 1.5rem;
    min-height: 500px;
  }

  .hero-title {
    text-align: center;
  }

  .hero-content {
    text-align: center;
  }
}

.footer {
  background-color: transparent;
  color: #7A685C;
  padding: 2rem 1rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-copy {
  margin: 0;
}

.footer-left {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: right;
  
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-phone {
  font-size: 1.2rem;
  margin: 0;
}

.footer-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #5A463A;
  text-decoration: none;
}

.footer-icon svg {
  width: 32px;
  height: 32px;
}

.footer-icon:hover {
  color: #c8977a;
}
